// == Mixins ==
@mixin google-font($font) {
  $font: unquote($font);
  @import url("https://fonts.googleapis.com/css?family=#{$font}")
}
@include google-font("Roboto+Slab:100,300,400,700");
@include google-font("Barlow+Semi+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@include google-font('Fira Sans Condensed');
@include google-font('Exo:400,800,900');
@include google-font("Merriweather Sans");
// == MEDIA QUERIES
@mixin mobile() {
   @media only screen and (max-width: 420px){
    @content;
  }
}
@mixin tablet() {
   @media only screen and (max-width: 768px){
    @content;
  }
}
@mixin desktop-medium() {
   @media only screen and (min-width: 992px){
    @content;
  }
}
@mixin desktop-large() {
   @media only screen and (max-width : 1140px){
    @content;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}
