// == nav variables == //

$body: rgba(0,0,0,.75);


/* ==== 01. FONTS ==== */

$paragraph: "Exo 2";
$family__medium: "Roboto Slab";
$standard: 15px;

$h2: 45px;
$h3: 30px;


/* ==== 01. SIZES ==== */

$container: 1280px;
$container-min: 920px;
$margin__navbar: 20px;

$margin_lg: 75px;

/* ==== 01. COLORS ==== */

$text__dark: rgba(0,0,0,.65);
$text__light: rgba(255,255,255,.75);
$blue: #2e8ed3;
$light_blue: rgba(213, 231, 244, .99);
$green: #0099A8;

$button__light: rgba(255, 255, 255, 1);

$accent: #4054b2;

// $colors (
//   red: #0c0c0c;
//   blue: #00000;
//
// )
